
src/memory.cc
doc/lr35902-opcodes.html
doc/README.md
interface/interface.cbp
interface/interface.layout
src/memory.cc
src/memory.h
src/register.cc
src/register.h
test/memory-test.cc
test/register-test.cc
src/register.cc
src/register.h
interface/interface.cscope_file_list
interface/interface.depend
interface/obj/Debug/CPP/nekomimi-gameboy-emulator/src/mmuint.o
interface/obj/Debug/GitHub/nekomimi-gameboy-emulator/src/memory.o
interface/obj/Debug/GitHub/nekomimi-gameboy-emulator/src/register.o
src/cpu.cc
src/mmuint.cc
src/mmuint.h
src/register.cc
src/register.h
src/register.cc
src/register.h
src/register.cc
src/register.h
.vscode/c_cpp_properties.json
.vscode/ipch/1f16089ce4119654/EMULATOR-FORM.ipch
.vscode/ipch/1f16089ce4119654/mmap_address.bin
.vscode/ipch/1fbd5c72c769d039/MEMORY.ipch
.vscode/ipch/1fbd5c72c769d039/mmap_address.bin
.vscode/ipch/2461c31197c2dff7/emulator-form-test.ipch
.vscode/ipch/2461c31197c2dff7/mmap_address.bin
.vscode/ipch/390f01d234610ea/mmap_address.bin
.vscode/ipch/3d30d1c2a99a2a5c/MEMORY-TEST.ipch
.vscode/ipch/3d30d1c2a99a2a5c/mmap_address.bin
.vscode/ipch/553ab282eff55f34/emulator-form.ipch
.vscode/ipch/553ab282eff55f34/mmap_address.bin
.vscode/ipch/65249bddb71ff1b7/EMULATOR-FORM-TEST.ipch
.vscode/ipch/65249bddb71ff1b7/mmap_address.bin
.vscode/ipch/6b3838398fd14ce9/CPU-TEST.ipch
.vscode/ipch/6b3838398fd14ce9/mmap_address.bin
.vscode/ipch/78ac4c4ec7ddf8a4/mmap_address.bin
.vscode/ipch/eaad90dd9e1f7d52/GPU.ipch
.vscode/ipch/eaad90dd9e1f7d52/mmap_address.bin
.vscode/launch.json
.vscode/tasks.json
*.o
.vscode/ipch/3a7f0e6a4e6ef7c4/mmap_address.bin
.vscode/ipch/59106e196d6efaad/emulator-form.ipch
.vscode/ipch/59106e196d6efaad/mmap_address.bin
.vscode/ipch/6afa82d03e1aa1d6/mmap_address.bin
.vscode/ipch/fe8fcc05ee2a1b0c/emulator-form-test.ipch
.vscode/ipch/fe8fcc05ee2a1b0c/mmap_address.bin
a.out
a.out
.vscode/ipch/10f0dff83ddbf465/JOYPAD.ipch
.vscode/ipch/10f0dff83ddbf465/mmap_address.bin
.vscode/ipch/19206112e2b58c62/mmap_address.bin
.vscode/ipch/19206112e2b58c62/register-test.ipch
.vscode/ipch/1da411b867de393/mmap_address.bin
.vscode/ipch/22ec34cd59b88319/memory.ipch
.vscode/ipch/22ec34cd59b88319/mmap_address.bin
.vscode/ipch/26878d4bc147a549/cpu-test.ipch
.vscode/ipch/26878d4bc147a549/mmap_address.bin
.vscode/ipch/52287185f6be8382/mmap_address.bin
.vscode/ipch/538b203d66e1d2db/CARTRIDGE.ipch
.vscode/ipch/538b203d66e1d2db/mmap_address.bin
.vscode/ipch/5953efa245cd3a2c/MISCELLANEOUS.ipch
.vscode/ipch/5953efa245cd3a2c/mmap_address.bin
.vscode/ipch/60e685f331abb72f/mmap_address.bin
.vscode/ipch/6afa82d03e1aa1d6/CPU.ipch
.vscode/ipch/6f485e6ee8b42270/mmap_address.bin
.vscode/ipch/75f987c0c289d315/MARSHMALLOW.ipch
.vscode/ipch/75f987c0c289d315/mmap_address.bin
.vscode/ipch/7b90126a4f9d8460/mmap_address.bin
.vscode/ipch/81abfefac65f2975/mmap_address.bin
.vscode/ipch/93796da548c856b6/mmap_address.bin
.vscode/ipch/a3de89c5880340c7/mmap_address.bin
.vscode/ipch/ab0ea6d7ef7ce956/cpu.ipch
.vscode/ipch/ab0ea6d7ef7ce956/mmap_address.bin
.vscode/ipch/b34883cd93c1b21f/mmap_address.bin
.vscode/ipch/b34883cd93c1b21f/register.ipch
.vscode/ipch/c73d5a2284f9f49b/gpu.ipch
.vscode/ipch/c73d5a2284f9f49b/mmap_address.bin
.vscode/ipch/ca78a8068b1ba245/joypad.ipch
.vscode/ipch/ca78a8068b1ba245/mmap_address.bin
.vscode/ipch/cc4069756a367f26/mmap_address.bin
.vscode/ipch/d4cc25a346805d92/gpu.ipch
.vscode/ipch/d4cc25a346805d92/mmap_address.bin
.vscode/ipch/f4adcb0a050717c5/mmap_address.bin
.vscode/settings.json
form_test.out
.vscode/ipch/1134ff879db338a7/mmap_address.bin
.vscode/ipch/1134ff879db338a7/motherboard.ipch
.vscode/ipch/1306f8243473d29b/cartridge.ipch
.vscode/ipch/1306f8243473d29b/mmap_address.bin
.vscode/ipch/13c0e9e80af63a60/mmap_address.bin
.vscode/ipch/282003257df3859e/cpu-test.ipch
.vscode/ipch/282003257df3859e/mmap_address.bin
.vscode/ipch/52eb461394ee0787/mmap_address.bin
.vscode/ipch/52eb461394ee0787/timer.ipch
.vscode/ipch/697eb9ca83bb45f3/mmap_address.bin
.vscode/ipch/697eb9ca83bb45f3/register-test.ipch
.vscode/ipch/6f00cbd79031f41c/memory-test.ipch
.vscode/ipch/6f00cbd79031f41c/mmap_address.bin
.vscode/ipch/737ac67e8447fbd5/mmap_address.bin
.vscode/ipch/79ebe792b79e7e36/mmap_address.bin
.vscode/ipch/79ebe792b79e7e36/motherboard.ipch
.vscode/ipch/7b09df631d0c7c52/memory.ipch
.vscode/ipch/7b09df631d0c7c52/mmap_address.bin
.vscode/ipch/81cf0fa40f16df02/cpu_demo.ipch
.vscode/ipch/81cf0fa40f16df02/mmap_address.bin
.vscode/ipch/872d984aa08598b6/mmap_address.bin
.vscode/ipch/8bc62aa5ae8f5c13/mmap_address.bin
.vscode/ipch/a942c4baa7ffee0/mmap_address.bin
.vscode/ipch/ac1a2000bb9727ad/miscellaneous.ipch
.vscode/ipch/ac1a2000bb9727ad/mmap_address.bin
.vscode/ipch/d4c37d9e8f0a7bec/miscellaneous.ipch
.vscode/ipch/d4c37d9e8f0a7bec/mmap_address.bin
